## Data Structures
 - The basic Python data structures in Python include list, set, tuples, and dictionary. Each of the data structures is unique in its own way. Data structures are “containers” that organize and group data according to type.

<img src="https://global-uploads.webflow.com/6007f8b630f7e5727bc2e10d/6189918d43825ea7b7a2d686_61898ea4cf37648fdd8afeda_5_2rAWPbNtIiP4X7CtwuSS42TF1o-I-jv_pjgKWkw_DcPs46aENTDbTLMv6jfVUZcwMqbm3U2N9tsBxoHJxBezVroAcEb9S3XBychKqDvw_W2ea7AX6EU462pXSIEq4fT21_8dra.jpeg" width=700 height=100>

## List and Tuple

- List is a collection of different data types(same in tuple.)
- List is ordered (same in tuple)
- List is indexed (same in tuple)
- repeative element can be allowed in list and tuple.
- List is <b>mutable</b> and tuple in <b>Immutable</b>

In [1]:
x = [1, 2.5, "Hello", True, 'hi']
print(x[2])

Hello

In [2]:
x[2] = 90
print(x)

[1, 2.5, 90, True, 'hi']

In [3]:
print(x[1:3])

[2.5, 90]

In [6]:
x[1:3] = [190,200,24004,19121,11]
print(x)

[1, 190, 200, 24004, 19121, 11, 'hi']

In [7]:
x = [1,2,3,4,5]

x.append(100)
x

[1, 2, 3, 4, 5, 100]

In [8]:
x.insert(0,1000)
x

[1000, 1, 2, 3, 4, 5, 100]

In [9]:
x.extend([1,21,32,14])
x

[1000, 1, 2, 3, 4, 5, 100, 1, 21, 32, 14]

## Nested List

In [12]:
x = [[1, [2, 3, [4, 5, 6], 7], [8, 9, 10], 11, 12]]
# Q1
x = [[1, [2, 3, [4, 5, 6], 7,100], [8, 9, 10], 11, 12]]
# Q2
x = [[1, [2, 3, [4, 5, 6], 7,100], [8, 9,1000, 10], 11, 12]]
# Q3
x = [[1, [2, 3, [4, 5, 6],2000, 7,100], [8, 9,1000, 10], 11, 12]]

In [16]:
x = [11,22,33,44]

# for i in x:
#     print(i)
    
# for i in range(len(x)):
#     print(i,"----",x[i])
if 11 not in x:
    print("True")
else:
    print("False")

False

In [23]:
x = [11,24,13,24]
# z = [11,24,13]

x.remove(24)
# del x
# z = x.pop(1)
# print(z)
# x.clear()

print(x)
z = []
print(type(z))

[]
<class 'list'>

In [ ]:
# Q1.
z = []